<div class="navbar">
    <div class="logo">
        <h1 routerLink="/">ZapatoFlex</h1>
    </div>

    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Catálogo</a>
    </div>

    <div class="auth-section">
        @if (!authService.isLoggedIn()) {
        <button class="btn border" routerLink="/login" [queryParams]="{mode: 'register'}">Registrarse</button>
        <button class="btn primary" routerLink="/login" [queryParams]="{mode: 'login'}">Ingresar</button>
        } @else {

        <button class="btn border" routerLink="/orders">
            📦 Mis Compras
        </button>

        <button class="btn primary" routerLink="/cart">
            🛒 Carrito
            <span class="badge" *ngIf="cartService.itemsCount() > 0">{{ cartService.itemsCount() }}</span>
        </button>

        <button class="btn out" (click)="logout()">Cerrar sesión</button>
        }
    </div>
</div>

<main class="main-content">
    <router-outlet></router-outlet>
</main>